* {
    box-sizing: border-box;
  }
  
  html body {
    background-color: #009624;
  }
  
  .card {
    width: 20em;
    height: 25em;
    border-radius: 13px;
  }
  
  #card-header-symbol {
    font-size: 69px;
  }
  
  #card-number {
    font-size: 97px;
    font-weight:600;
  }
  
  #card-footer-symbol {
    font-size: 69px;
  }
  